
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root {
--branco-titulo-header: #FFFFFF;
--preto-texto: #0B1D03;
--background-fundo: #F7F1E6;
--spam:#969696;
}

body{
    background:  #FFFCF6;
    margin: 0px;
    padding: 0px;
}



.header{
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    background: url("./assets/banner/logo.png");
}
 
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.bottao-menu{
    width: 34px;
    padding-top: 30px;
    padding-left: 73px;
    cursor: pointer;
    color: #FFFFFF;
}

.texto-slog {
    display: flex;
    color: var(--branco-titulo-header);
    font-size: 14px;
    font-weight: 700;
    font-family: 'Playfair Display';

}


.botao-sacola {
    padding-right: 75px;
    padding-top: 35px;
    height: 20px;
    cursor: pointer;
    color: #FFFFFF;
}

.container2{
    padding-top: 160px;
    padding-left: 70px;
}

.container2 h2 {
    padding-left: 5px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-left: 3px;
}

.container2 p {
    font-weight: 300;
    font-size: 32px;
    color: #FFFFFF;
    width:400px;
    padding-left: 5px;
    padding-top: 10px;
    height: 40px;
}

.controles {
    height: 56px;
    left: 136px;
    padding-top: 100px;
    color: white;
    display: flex;

}

.esquerdo {
    padding-left: 20px;
}
/* Fim da estilização do header */

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-left: 0px;
}

.destaques{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destaque{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 200px;
}
.destaque img{
    padding-left: 0px;
    width: 700px;
}

.destaque-texto h3 {
    width: 400px;
    padding-left: 30px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: var(--preto-texto)
}
.destaque-texto p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #0B1D03;
    width: 581px;
    height: 160px;
    padding-left: 30px;
}

.variedades  {
    width: 500px;
    padding-left: 80px;
    font-size: 40px;
    color:  #A0996C;
    padding-top: 40px;
}
.produtos {
    display: flex;
    padding-left: 0px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 70px;
    align-items: center;

}

.produto{
    width: 400px;
    background: #F7F1E6;
    border-radius: 8px;
    align-items: center;
    height: 540px;
}

.produto h6{
    padding-top: 0px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #0B1D03;
}

.produto img {
    width: 200px;
    align-content: center;
    padding-top: 10px;
    padding-left: 110px;
}

.produto p {
    padding-top: 6px;
    text-align: center;
    font-family: 'Open Sans';
}
.primeiro_value {
   color: #0B1D03;
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 800;
   font-size: 32px;
   line-height: 40px;
}

span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    padding-left: 10px;
    color: #969696;
    

}

button{
    display: flex;
    justify-items: center;
    background: #0B1D03;
    text-align: center;
    cursor: pointer;
}

.btn {
    padding-left: 90px;
}

.servicos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    background: #FFFCF6;
}

.servicos img{
    width: 100px;
    height: 50px;
}
.servicos p{
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 26px;
   text-align: center;
  
}
.cafe {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.catalago {
    width: 650px;
    height: 560px;
    background-image: url("./assets/banner/Rectangle\ 20.jpg");
}

.catalago h3{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFCF6;
    padding-left: 30px;
    padding-top: 300px;

}

.catalago p{
    color: #FFFCF6;
    padding-left: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 26px;
}

.acess{
    width: 650px;
    height: 560px;
    background-image: url("./assets/banner/Rectangle\ 20\ \(1\).jpg");
}

.acess h3{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: #FFFCF6;
    padding-left: 30px;
    padding-top: 300px;
}

.acess p {
    color: #FFFCF6;
    padding-left: 30px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 26px;
}


.contato{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 90px;
}

.contato h3{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    padding-top: 30px;
}

.escolha {
    height: 45px;
    width: 450px;
    text-align: justify;
    top: 0px;
    border-radius: 4px;
    align-items: center;
    border: 2px solid #0B1D03;
    padding-left: 20px;
    color: #969696;


}

.Digi-ende {
    width: 920px;
    height: 40px;
    border: 2px solid #0B1D03;
    border-radius: 4px;
    padding-left: 20px;
    color: #969696;

}


.iframe {
    padding-top: 20px;
    padding-left:90px;
}

.iframe img {
    width: 1400px;
    margin-bottom: 30px;
}

footer{
    width: 100%;
    background: #F7F1E6;
    
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-fundo);
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.brand {
    width: 150px;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    color: #0B1D03;
    font-family: 'Playfair Display';
    padding-left: 90px;
    padding-top: 10px;
    height: 28px;
    line-height: 28px;
}

.container-footer h6 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    color: #1F1F1F;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0 10px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
   line-height: 28px;
   color: #1F1F1F;
}


.redes {
    padding-right: 12%;
    padding-top: 10px;
}

.creditos {
    display: flex;
    flex-direction: row;
    margin: 60 px 0 20 px 0;
    align-items: flex-start;
    justify-content: center;
    padding-top: 25px;
}

.creditos p{
    width: 150px;
   margin: 0;
   font-size: 20px;
}

.creditos img {
    margin-left: 4px;
    width: 120px;
    height: 20px;
}


