header {
    background-image: url("./assets/banner/cafeloja.jpg");
}

.seçao_café {
    background-image: url("./assets/banner/grãodecafé.jpg");
}

.cafetera {
    background-image: url("./assets/banner/cafetera.jpg");
}