
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
:root {
--branco-titulo-header: #FFFFFF;
--preto-texto: #0B1D03;
--background-fundo: #F7F1E6;
--spam:#969696;
}

body{
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: #F5F5F5;;

}

.header{
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./assets/banner/logo.png");
    color: (0deg, rgba(31, 31, 31, 0.5), rgba(31, 31, 31, 0.5));
}
 
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottao-menu{
    width: 34px;
    padding-top: 30px;
    padding-left: 73px;
    cursor: pointer;
    color: #FFFFFF;
}

.texto-slog {
    display: flex;
    color: var(--branco-titulo-header);
    font-size: 14px;
    font-weight: 700;
    font-family: 'Playfair Display';

}


.botao-sacola {
    padding-right: 75px;
    padding-top: 35px;
    height: 20px;
    cursor: pointer;
    color: #FFFFFF;
}

.container2{
    padding-top: 160px;
    padding-left: 70px;
}

.container2 h2 {
    padding-left: 5px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-left: 3px;
}

.container2 p {
    font-weight: 300;
    font-size: 32px;
    color: #FFFFFF;
    width:400px;
    padding-left: 5px;
    padding-top: 10px;
    height: 40px;
}

.controles {
    height: 56px;
    left: 136px;
    padding-top: 100px;
    color: white;
    display: flex;

}

.esquerdo {
    padding-left: 20px;
}
/* Fim da estilização do header */


.main {
    background: #F5F5F5;;
}
.destaques  {
    padding-top: 90px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.destaque {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 300px;
    padding-left: 100px;
}

.destaque img {
    width: 700px;
    height: 500px;

}

.destaque-texto h3 {
    color: var(--preto-texto);
    font-family: "Playfair Display";
    font-size: 58px;
    height: 48px;
    padding-left: 200px;
    padding-top: 0px;
    width: 500px;
    font-weight: 700;
    line-height: 60px;
}

.destaque-texto p {
    padding-left: 200px;
    padding-top: 10px;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #0B1D03;
    width: 581px;
}

.variedades {
    margin-top: 10px;
    display: flex;
    align-items: center;
    background: #F5F5F5;
}

.variedades h2 {
    font-family: 'Playfair Display';
    padding-top: 10px;
    padding-left: 30px;
    Width:100%;
    color: #A0996C;
    line-height: 40px;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    height: 60px;
}

.produtos {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: center;
}

.produto {
    width: 100%;
    background: #F7F1E6;
    border-radius: 8px;
    Width:400px;
    margin-bottom: 50px;
    Height:550px;
    align-items: center;
    padding-left: 30px;
} 

.produto  h6 {
    font-family: 'Open Sans';
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: #0B1D03;

}

.produto img {
    width: 200px;
    align-items: center;
    padding-left: 90px;

}

.produto p{
    text-align: center;
}

.value{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 30px;
    color: #0B1D03;
    Width: 50px;
}

.second-value {
    font-family: 'Open Sans';
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: #969696;
    width: 60px;
    padding-left: 10px;
}

.produto  button {
    margin-bottom:  60px;
    padding-right: 0px;
    background: #0B1D03;
    width: 370px;
    height: 50px;
    border-radius: 4px;
}

.servicos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around

}

.servicos img {
    width: 60px;
    height: 40px;
    justify-items: center;
    padding-left: 37%;
    padding-right: 37%;
}

.servicos p{
    font-family: 'Open Sans';
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    width: 200px;
    height: 50px;
}

.cafe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 5px;
}

.catalago {
    width: 650px;
    display: flex;
    height: 480px;
    background-image: url("./assets/banner/Rectangle\ 20.jpg");
    padding-top: 20px;
    padding-left: 25px;
    flex-direction: column;

}

.catalago h3 {
    padding-top: 200px;
    width: 500px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: var(--branco-titulo-header);
}

.catalago p{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.04em;
    color: #FFFCF6;
    Width:400px;


}



.acess {
    width: 650px;
    display: flex;
    height: 500px;
    padding-left: 30px;
    flex-direction: column;
    background-image: url("./assets/banner/Rectangle\ 20\ \(1\).jpg");
}

.acess h3 {
    padding-top: 200px;
    width: 500px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: var(--branco-titulo-header);
}

.acess p{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.04em;
    color: #FFFCF6;
    Width:400px;
}


.contato {
    padding-top: 90px;
    padding-left: 20px;

}

.contato h3 {
    width: 470px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 40px;
    color: #0B1D03;
    line-height: 60px;
    padding-left: 37px;
    height: 60px;
}

form {
    padding-left: 40px;
}

form select {
    width: 320px;
    border: 2px solid #0B1D03;
    border-radius: 4px;
    height: 42px;

}

form input{
    width: 1120px;
    border: 2px solid #0B1D03;
    border-radius: 4px;
    height: 36px;
    margin-left: 15px;
    
}

.iframe {
    padding-left: 60px;
    padding-top: 40px;
}

footer {
    margin-top: 40px;
    max-width: 1550px;

}

.containers {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-top: 20px;
    width: 100%;
    background: #F7F1E6;
    height: 300px;
  
}

.brand h3{
    font-family: 'Playfair Display';
    display: flex;
    font-weight: 700;
    font-size: 20px;
    align-items: center;
    color: #0B1D03;
    height: 28px;
    width: 120px;
    padding-left: 10px;
    padding-top: 30px;

}

.containers h6 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    align-items: center;
}

ul {
    list-style-type: none ;
    margin: 0;
    padding: 0;
}   

li {
    margin: 10px 0px 10px 0;
}

.creditos {
    display: flex;
    flex-direction: row;
    margin: 60px 0px 20px 0;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    background:  #F7F1E6;
    width: 100%;
    height: 100px;
    margin-top: 0;


}

.creditos p {
    color: #1F1F1F;
    font-family: 'Open Sans';
    display: flex;
    align-items: center;
    font-weight:900;
    font-size: 20px;
    margin: 0px;
    height: 21px;
}

.creditos img{
    margin-left: 6px;
}